@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.linkHover:hover {
  color: #59c9b4;
  box-shadow: 0 0 50px #59c9b462, 0 0 25px #59c9b4, 0 0 50px #59c9b4, 0 0 50px #59c9b4, 0 0 200px #59c9b4;
  /* text-decoration: underline; */
}

.f-logo {
  width: 10rem;
}

.f-navIcons {
  font-size: 25px;
  vertical-align: bottom;
  margin-inline-end: 0.8rem;
}

.footer {
  background-color: #212529;
  padding-block: 0.8rem;
  justify-content: center;
}
.font {
  font-size: 2.5rem;
}

.footer div {
  margin-inline: 2rem;
}
.footer div:hover {
  cursor: pointer;
}

.copy-right {
  text-align: center;
  padding-block-start: 0.5rem;
  padding-block-end: 0.8rem;
  color: #212529;
  background-color: #59c9b4;
}

.style-btn {
  background-color: #59c9b4;
  color: #212529;
  border: none;
  border-radius: 10px;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  text-decoration: none;
}
.style-btn:hover {
  /* background-color: #59bcc9;
  color: #212529; */
  background-color: #212529;
  color: #59c9b4;
  border: none;
}

.style-btn-delete {
  background-color: #d32a3b;
  color: white;
  border: none;
  border-radius: 10px;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  text-decoration: none;
}
.style-btn-delete:hover {
  /* background-color: #59bcc9;
  color: #212529; */
  background-color: #bb2d3b;

  border: none;
}

.border-order {
  border: solid #21252973;
  border-radius: 24px;
  /* margin-inline: 0.2rem; */
  padding: 8px;
}

.border-order2 {
  border: solid #21252973;
  padding: 1rem;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dettails-link {
  text-decoration: none;
  color: #212529;
  font-weight: bolder;
}
.dettails-link:hover {
  text-decoration: underline;
}

.tot-order {
  background-color: #59c9b45b;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  border-radius: 5px;
}
.num-order {
  background-color: #212529a4;
  color: white;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  border-radius: 5px;
}

.t-review {
  text-align: center;
  vertical-align: middle;
}

.img-cart {
  object-fit: cover;
  overflow: hidden;
  margin-block-end: 0.5rem;
}

/* PROVA HOME PAGE */

.text {
  background-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-size: 15rem;
  font-weight: bolder;
  text-align: center;
  padding-block: 2rem;
}
