.linkHover:hover {
  color: #59c9b4;
  box-shadow: 0 0 50px #59c9b462, 0 0 25px #59c9b4, 0 0 50px #59c9b4, 0 0 50px #59c9b4, 0 0 200px #59c9b4;
  /* text-decoration: underline; */
}

.footer {
  background-color: #212529;
  padding-block: 0.8rem;
  justify-content: center;
}
.font {
  font-size: 2.5rem;
}

.footer div {
  margin-inline: 2rem;
}
.footer div:hover {
  cursor: pointer;
}

.copy-right {
  text-align: center;
  padding-block-start: 0.5rem;
  padding-block-end: 0.8rem;
  color: #212529;
  background-color: #59c9b4;
}

.style-btn {
  background-color: #59c9b4;
  color: #212529;
  border: none;
}
.style-btn:hover {
  /* background-color: #59bcc9;
  color: #212529; */
  background-color: #212529;
  color: #59c9b4;
  border: none;
}

.border-order {
  border: solid #21252973;
  border-radius: 24px;
  margin-inline: 0.8rem;
  padding: 8px;
}

.border-order2 {
  border: solid #21252973;
  padding: 1rem;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dettails-link {
  text-decoration: none;
  color: #212529;
  font-weight: bolder;
}
.dettails-link:hover {
  text-decoration: underline;
}
